.modalContaier {
  .header {
    position: relative;
    border-bottom-color: initial;
    border-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 1.2rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close {
      border-color: initial;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    }
  }

  .body {
    max-height: 470px;
    overflow-y: auto;
    padding: 0 1.2rem 1.2rem;

    .title {
      margin-bottom: 8px;
      text-align: center;
    }
  }
}
